<div class="container">

<div class="container text-center">

  <form class="form-signin" name="signinForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="emailInput" ng-model="emailInput" type="email" id="inputEmail" class="form-control col-xs-3" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control col-xs-3" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button (click)="handleClick()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>
<!-- /container -->
</div>
<!-- /container -->